################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Contacts.Recorder/node_modules
/Contacts.Recorder/obj
